body{
  margin:0;
  background:#000;
  height:100vh;
  color:#fff;
  font-family:Arial;
  overflow:hidden;
}

#wrap{
  position:relative;
  width:100vw;
  height:100vh;
}


.bg{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:0;
  transition:opacity .4s;
}

#bgA{
  background:linear-gradient(135deg,#2a050b,#5b0f1a,#8a1c2b);
}

#bgB{
  background:linear-gradient(135deg,#1a1a1a,#000428,#004e92);
  opacity:0;
}

video{
  position:absolute;
  top:50%;
  left:50%;
  width:100%;
  height:100%;
  transform:translate(-50%, -50%) scale(0.8);
  object-fit:contain;
  z-index:1;
}

#videoB{
  opacity:0;
}

#centerText{
  position:absolute;
  top:6%;
  left:50%;
  transform:translateX(-50%);
  z-index:3;
  background:rgba(0,0,0,.6);
  padding:12px 26px;
  border-radius:10px;
  font-size:18px;
  text-align:center;
  max-width:70%;
}

#startBtn{
  position:absolute;
  top:26%;
  left:50%;
  transform:translateX(-50%);
  z-index:3;
  padding:12px 26px;
  font-size:18px;
  cursor:pointer;
}

#oyuncular{
  position:absolute;
  bottom:20px;
  left:20px;
  z-index:2;
  display:flex;
  flex-direction:column;
  gap:6px;
  max-width:140px;
}

#oyuncular button{
  background:rgba(0,0,0,.6);
  color:#fff;
  border:none;
  padding:6px 8px;
  font-size:13px;
  border-radius:6px;
  cursor:pointer;
  text-align:left;
}

#oyuncular button:hover{
  background:rgba(255,255,255,.2);
}

#sahne{
  width:120px;
  margin-top:8px;
  border-radius:8px;
  object-fit:cover;
}